__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.ipynb
*.csv
*.tsv
*.parquet
*.h5
*.pth
*.ckpt
*.tar
*.zip
.env
.env.*
.git
.gitignore
data/
checkpoints/
models/
outputs/
secrets_mqtt.py
__pycache__/
.venv/
.ipynb_checkpoints/
*.pyc
*.log
*.egg-info/
build/
notebooks_2022/robot_config.ini
dist/
**/silicologs/
**/logs/
**/missionlogs/
**/.DS_Store
**/notebooks/2024/
**/notebooks/Pre_2024/
*.code-workspace
secrets_mqtt.py
colab_notebook.ipynb
**/tests/
