__pycache__/
.venv/
.ipynb_checkpoints/
*.pyc
*.log
*.egg-info/
build/
notebooks_2022/robot_config.ini
dist/
**/silicologs/
**/logs/
**/missionlogs/
**/.DS_Store
**/notebooks/2024/
**/notebooks/Pre_2024/
*.code-workspace
secrets_mqtt.py
colab_notebook.ipynb
**/tests/